body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 0;
  }
  header {
    display: flex;
    background-color: lightgray;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  #shoeImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
  }
  
  .shoes2 {
    height: 200px;
    width: 200px;
    border: 1px solid;
  }
  
  .shoes {
    height: 200px;
    width: 200px;
    border: 1px solid;
  }
  
  figcaption{
    text-align: center;
    transform: translateX(-50px);
    border: 1px solid;
  }
  
  h1 {
   display: flex;
   justify-content: center;
   transform: translateX(-40px);
  }
  
  @media screen and (min-width: 600px) {
      #shoeImg {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          margin-top: 100px
        }
  }
